<?xml version='1.0' encoding='utf-8'?>
<widget id="com.maanju.feriasanlucas" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Feria San Lucas</name>
    <description>
        Aplicación de la Feria y Fiestas de San Lucas de Jaén.
    </description>
    <author email="info@maanju.com" href="http://maanju.com">
        Maanju Studio
    </author>
    <content src="index.html" />
    
    <gap:platform name="android" />

    <preference name="permissions" value="none" />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />

    <icon src="icon.png" />
</widget>
